<div class="container__content">
  <div class="content__cover">
    <img src="{{photoCover}}">
  </div>
  <div class="content__date">
    <p>{{contentStringDate}}</p>
  </div>
  <div class="content__title">
    <h1>{{contentTitle}}</h1>
  </div>
  <div class="content__description">
    {{contentDescription}}
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus tincidunt, efficitur velit ac, rhoncus leo. Etiam quis lacus libero. Mauris sit amet arcu felis. Praesent maximus, elit eu interdum lacinia, arcu magna finibus augue, quis sodales sapien ante vel diam. Praesent tincidunt sapien vel porttitor cursus. Nulla mattis posuere quam, nec semper tellus ullamcorper at. Maecenas commodo, neque nec viverra fringilla, leo nibh ultricies sem, quis mollis purus dui iaculis ex.
    </p>
    <p>
      Suspendisse eget faucibus nisi. Proin sed lorem tempor, pretium lorem vitae, vestibulum tortor. Pellentesque ultrices massa tellus, id efficitur leo fermentum vitae. Nam sed nisi cursus, bibendum mi sit amet, tempus dui. Integer lacinia elit ac facilisis interdum. Cras velit velit, bibendum id lacus id, aliquam semper magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse imperdiet nec neque ut elementum. Morbi vestibulum erat id metus rhoncus, quis euismod lectus rhoncus. Morbi gravida suscipit elit. Morbi nunc eros, tempor dictum urna quis, varius vestibulum quam. Phasellus a fermentum justo. Donec varius sem quam, in dapibus est ultrices et. Proin interdum bibendum malesuada.
    </p>
    <p>
      Fusce molestie neque et cursus egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus tristique ut dui porttitor suscipit. Nulla semper, mi at bibendum euismod, metus lectus elementum neque, luctus mollis turpis ipsum non lectus. Aliquam placerat dapibus euismod. Nulla nec aliquet augue, vitae commodo mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam interdum, sem non gravida iaculis, libero nibh malesuada ipsum, ut pharetra purus lorem facilisis mi. Pellentesque id dapibus lorem. Aliquam erat volutpat. Sed a volutpat mauris. Quisque bibendum ac felis euismod porta.
    </p>
  </div>
  <div>
    <a [routerLink]="['']"><< Voltar</a>
  </div>
</div>
