<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      [id] = "list[0].id"
      [photoCover] = "list[0].photo"
      [cardTitle] = "list[0].title"
      [cardDescription] = "list[0].description"
      [cardStringDate] = "list[0].formattedDate"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      *ngFor="let article of list | slice:1:4"
      [id] = "article.id"
      [photoCover] = "article.photo"
      [cardTitle] = "article.title"
      [cardStringDate]="article.formattedDate"
    ></app-small-card>
  </div>
</div>
